<main><table>
  <tr>
    <td>
      @if(isNoteVisible===true){
      <p>This is a static note with true value!</p>
      }
    </td>
    <td>
      @if(isNoteVisible===false){
      <p>This is a static note with false value!</p>
      }
    </td>
  </tr>
</table>
<table>
  <tr>
    <td> @if(isNoteVisible===true){
      <p>This is a note!</p>
    }
    </td>
  </tr>

  <button (click)="showNote()">Show Note</button>
  <button (click)="hideNote()">Hide Note</button>
</table>
<table>
  <tr>
    <button (click)="toggleNote()">
      {{ isParagraphVisible ? 'Hide' : 'Show' }}
    </button>

    @if(isParagraphVisible){
      <p>This is the paragraph content!</p>
    }
  </tr>
</table>
<table>
  <tr>
    <td>
      @if (monthNameStatic === 'Jan') {
        <p>January</p>
      }
        @else if (monthNameStatic === 'Feb') {
        <p>February</p>
        }
          @else if (monthNameStatic === 'Mar') {
          <p>March</p>
          }
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      @if (monthNameDynamic === 'Jan') {
        <p>January</p>
      }
        @else if (monthNameDynamic === 'Feb') {
        <p>February</p>
        }
          @else if (monthNameDynamic === 'Mar') {
          <p>March</p>
          }
          @else {
            <p class="warning">Wrong input!</p>
          }
    </td>
    <td>
      <input type="text" [(ngModel)]="monthNameDynamic" placeholder="Enter month abbreviation (e.g., Jan, Feb, Mar)" />
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <ul>
        @for (item of cityList; track $index)
        {
          <li>{{ item }}</li>
        }
      </ul>
    </td>
  </tr>
</table>
<table>
  <thead>
    <tr>
      <th>Student No</th>
      <th>Name</th>
      <th>Course</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    @for (item of studentList; track $index){
      <tr>
        <td>{{$index+1}}</td>
        <td>{{item.stud_name}}</td>
        <td>{{item.course}}</td>
        <td>
          @if (item.isActive == true) {
            <p class="active">Active</p>
          }
          @else {
            <p class="inactive">Inactive</p>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

</main>
